.title-container {
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
}


.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.container {
  height: 400px;
  width: 50%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
  column-gap: 12px;
  justify-content: center;
  align-items: center;

  border-color: gray;
  border-style: solid;
}


.flexbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px
}

.website-name-div {
  flex: 1
}

.button-div {
  width: 100px;
}